.xxxxxx {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .xxxxxx .overlap-wrapper {
    background-color: #ffffff;
    height: 950px;
    overflow: hidden;
    width: 1920px;
  }
  
  .xxxxxx .overlap {
    height: 951px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1922px;
  }
  
  .xxxxxx .overlap-group {
    height: 951px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1922px;
  }
  
  .xxxxxx .frame {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e5e5;
    height: 63px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1922px;
  }
  
  .xxxxxx .group {
    background-color: #344054;
    border-radius: 25px;
    height: 59px;
    left: 1847px;
    position: absolute;
    top: 2px;
    transform: rotate(-90deg);
    width: 33px;
  }
  
  .xxxxxx .vector-wrapper {
    background-color: #ffffff;
    border-radius: 11.88px;
    height: 24px;
    left: 5px;
    position: absolute;
    top: 30px;
    width: 24px;
  }
  
  .xxxxxx .vector {
    height: 17px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(90deg);
    width: 16px;
  }
  
  .xxxxxx .img {
    height: 15px;
    left: 9px;
    position: absolute;
    top: 9px;
    transform: rotate(90deg);
    width: 14px;
  }
  
  .xxxxxx .logo-woodxel {
    height: 46px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 200px;
  }
  
  .xxxxxx .overlap-group-wrapper {
    height: 889px;
    left: 1609px;
    position: absolute;
    top: 62px;
    width: 312px;
  }
  
  .xxxxxx .div {
    height: 889px;
    position: relative;
  }
  
  .xxxxxx .group-2 {
    background-color: #f9fafb;
    border: 1px solid;
    border-color: #e4e7ec;
    height: 889px;
    left: 0;
    position: absolute;
    top: 0;
    width: 312px;
  }
  
  .xxxxxx .frame-2 {
    height: 97px;
    left: 29px;
    position: absolute;
    top: 233px;
    width: 156px;
  }
  
  .xxxxxx .vector-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 253px;
  }
  
  .xxxxxx .text-wrapper {
    color: #344053;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: 17.4px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .xxxxxx .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 57px;
  }
  
  .xxxxxx .component {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 9.91px 14.16px;
    position: relative;
    width: 75px;
  }
  
  .xxxxxx .text-wrapper-2 {
    color: #636363;
    font-family: "Roboto-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-left: -0.16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .div-wrapper {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 9.91px 14.16px;
    position: relative;
    width: 75px;
  }
  
  .xxxxxx .text-wrapper-3 {
    color: #636363;
    font-family: "Roboto-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17.4px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .frame-wrapper {
    height: 186px;
    left: 29px;
    position: absolute;
    top: 355px;
    width: 252px;
  }
  
  .xxxxxx .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  
  .xxxxxx .vector-3 {
    height: 1px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    margin-top: -0.5px;
    object-fit: cover;
    position: relative;
    width: 253px;
  }
  
  .xxxxxx .group-wrapper {
    height: 166px;
    position: relative;
    width: 252px;
  }
  
  .xxxxxx .group-3 {
    height: 166px;
    position: relative;
    width: 254px;
  }
  
  .xxxxxx .p {
    color: #344053;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: 17.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .xxxxxx .component-2 {
    height: 41px;
    left: 212px;
    position: absolute;
    top: 36px;
    width: 41px;
  }
  
  .xxxxxx .group-4 {
    height: 10px;
    left: 0;
    position: absolute;
    top: 98px;
    width: 252px;
  }
  
  .xxxxxx .overlap-group-2 {
    height: 12px;
    position: relative;
    top: -1px;
  }
  
  .xxxxxx .rectangle {
    background-color: #344054;
    border-radius: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 81px;
  }
  
  .xxxxxx .rectangle-2 {
    background-color: #e5e5e5;
    border-radius: 6px;
    height: 6px;
    left: 79px;
    position: absolute;
    top: 3px;
    width: 173px;
  }
  
  .xxxxxx .ellipse {
    background-color: #344054;
    border: 1px solid;
    border-color: #f9fafb;
    border-radius: 6px;
    height: 12px;
    left: 73px;
    position: absolute;
    top: 0;
    width: 12px;
  }
  
  .xxxxxx .frame-5 {
    align-items: center;
    background-color: #344054;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    height: 35px;
    justify-content: center;
    left: 79px;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
    top: 131px;
    width: 173px;
  }
  
  .xxxxxx .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-top: -2px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .group-5 {
    height: 41px;
    left: 0;
    position: absolute;
    top: 37px;
    width: 150px;
  }
  
  .xxxxxx .group-6 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .xxxxxx .overlap-2 {
    height: 40px;
    position: relative;
  }
  
  .xxxxxx .frame-6 {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .xxxxxx .rectangle-3 {
    background-color: #ef3b3d;
    border-radius: 6px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .xxxxxx .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 6px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .xxxxxx .group-7 {
    border: 1px solid;
    border-color: #344054;
    height: 20px;
    left: 9px;
    position: absolute;
    top: 10px;
    transform: rotate(8.93deg);
    width: 21px;
  }
  
  .xxxxxx .overlap-3 {
    height: 20px;
    position: relative;
  }
  
  .xxxxxx .group-8 {
    height: 7px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
  }
  
  .xxxxxx .overlap-group-3 {
    height: 7px;
    position: relative;
  }
  
  .xxxxxx .rectangle-5 {
    border: 1px solid;
    border-color: #344054;
    height: 7px;
    left: 0;
    position: absolute;
    top: 0;
    width: 7px;
  }
  
  .xxxxxx .rectangle-6 {
    border: 1px solid;
    border-color: #344054;
    height: 7px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 7px;
  }
  
  .xxxxxx .rectangle-7 {
    border: 1px solid;
    border-color: #344054;
    height: 7px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .xxxxxx .group-9 {
    height: 7px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 21px;
  }
  
  .xxxxxx .group-10 {
    height: 7px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 21px;
  }
  
  .xxxxxx .group-11 {
    height: 40px;
    left: 55px;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .xxxxxx .frame-7 {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .xxxxxx .group-12 {
    height: 21px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 21px;
  }
  
  .xxxxxx .group-13 {
    height: 40px;
    left: 110px;
    position: absolute;
    top: 1px;
    width: 40px;
  }
  
  .xxxxxx .group-14 {
    height: 40px;
  }
  
  .xxxxxx .rectangle-8 {
    background-color: #344054;
    border-radius: 6px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .xxxxxx .group-15 {
    height: 26px;
    left: 8px;
    position: absolute;
    top: 6px;
    width: 26px;
  }
  
  .xxxxxx .group-16 {
    height: 167px;
    left: 31px;
    position: absolute;
    top: 690px;
    width: 252px;
  }
  
  .xxxxxx .group-17 {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 252px;
  }
  
  .xxxxxx .vector-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 253px;
  }
  
  .xxxxxx .group-18 {
    height: 22px;
    left: 0;
    position: absolute;
    top: 27px;
    width: 147px;
  }
  
  .xxxxxx .text-wrapper-5 {
    color: #344053;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 17.4px;
    position: absolute;
    top: 0;
    width: 145px;
  }
  
  .xxxxxx .frame-8 {
    align-items: center;
    background-color: #344054;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    height: 35px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
    top: 132px;
    width: 252px;
  }
  
  .xxxxxx .text-wrapper-6 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-top: -2px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .group-19 {
    height: 179px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 254px;
  }
  
  .xxxxxx .text-wrapper-7 {
    color: #344053;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: 19.6px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .xxxxxx .group-20 {
    height: 139px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 252px;
  }
  
  .xxxxxx .group-21 {
    /*background-image: url(./mask-group.png);*/
    background-size: 100% 100%;
    height: 139px;
  }
  
  .xxxxxx .combined-shape-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 6px;
    height: 25px;
    left: 212px;
    position: relative;
    top: 15px;
    width: 25px;
  }
  
  .xxxxxx .combined-shape {
    height: 18px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 16px;
  }
  
  .xxxxxx .WOODXEL-panel-wrapper {
    align-items: center;
    background-color: #344054;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 1641px;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
    top: 827px;
    width: 252px;
  }
  
  .xxxxxx .WOODXEL-panel {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17.4px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .xxxxxx .span {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17.4px;
  }
  
  .xxxxxx .text-wrapper-8 {
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .xxxxxx .text-wrapper-9 {
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: 21.8px;
  }
  
  .xxxxxx .group-22 {
    height: 99px;
    left: 1639px;
    position: absolute;
    top: 629px;
    width: 252px;
  }
  
  .xxxxxx .group-23 {
    height: 97px;
    left: 0;
    position: absolute;
    top: 0;
    width: 176px;
  }
  
  .xxxxxx .group-24 {
    height: 97px;
  }
  
  .xxxxxx .frame-9 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 176px;
  }
  
  .xxxxxx .vector-5 {
    height: 1px;
    margin-left: -0.5px;
    margin-right: -76.5px;
    margin-top: -0.5px;
    object-fit: cover;
    position: relative;
    width: 253px;
  }
  
  .xxxxxx .group-25 {
    height: 77px;
    margin-right: -2px;
    position: relative;
    width: 178px;
  }
  
  .xxxxxx .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    gap: 15px;
    left: 0;
    position: absolute;
    top: 37px;
  }
  
  .xxxxxx .component-3 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 6px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 9.91px 14.16px;
    position: relative;
    width: 42px;
  }
  
  .xxxxxx .text-wrapper-10 {
    color: #636363;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-left: -2.16px;
    margin-right: -0.16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .component-4 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 6px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 9.91px 14.16px;
    position: relative;
    transform: rotate(180deg);
    width: 42px;
  }
  
  .xxxxxx .text-wrapper-11 {
    color: #636363;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-left: -2.16px;
    margin-right: -0.16px;
    position: relative;
    transform: rotate(180deg);
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .component-5 {
    align-items: center;
    background-color: #344054;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 6px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 9.91px 14.16px;
    position: relative;
    transform: rotate(180deg);
    width: 42px;
  }
  
  .xxxxxx .text-wrapper-12 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.4px;
    margin-left: -2.16px;
    margin-right: -0.16px;
    position: relative;
    transform: rotate(180deg);
    white-space: nowrap;
    width: fit-content;
  }
  
  .xxxxxx .component-6 {
    height: 41px;
    left: 212px;
    position: absolute;
    top: 58px;
    width: 41px;
  }
  
  .xxxxxx .component-7 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e6eb;
    border-radius: 6px;
    display: flex;
    gap: 7.08px;
    height: 42px;
    justify-content: center;
    left: 1850px;
    padding: 9.91px 14.16px;
    position: absolute;
    top: 352px;
    width: 42px;
  }
  
  .xxxxxx .group-26 {
    height: 20px;
    margin-left: -3.57px;
    margin-right: -1.57px;
    position: relative;
    width: 18.82px;
  }
  
  .xxxxxx .overlap-group-4 {
    height: 20px;
    position: relative;
    width: 19px;
  }
  
  .xxxxxx .rectangle-9 {
    background-color: #344054;
    border-radius: 1px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 19px;
  }
  
  .xxxxxx .mask-group {
    height: 10px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 16px;
  }
  
  .xxxxxx .upload-files {
    height: 829px;
    left: 31px;
    position: absolute;
    top: 92px;
    width: 1539px;
  }
  