$gutter: 16px;
$gap: 8px;

@mixin flex($value: "") {
  display: flex unquote($value);
  flex-direction: row unquote($value);
  width: 100% unquote($value);
}

@mixin inline-flex($value: "") {
  display: inline-flex unquote($value);
  width: auto unquote($value);
}

@mixin start($value: "") {
  justify-content: flex-start unquote($value);
}

@mixin center($value: "") {
  justify-content: center unquote($value);
}

@mixin end($value: "") {
  justify-content: flex-end unquote($value);
}

@mixin top($value: "") {
  align-items: flex-start unquote($value);
}

@mixin baseline($value: "") {
  align-items: baseline unquote($value);
}

@mixin middle($value: "") {
  align-items: center unquote($value);
}

@mixin bottom($value: "") {
  align-items: flex-end unquote($value);
}

@mixin between($value: "") {
  justify-content: space-between unquote($value);
}

@mixin around($value: "") {
  justify-content: space-around unquote($value);
}

@mixin column($value: "") {
  flex-direction: column unquote($value);
}

@mixin flex-row($value: "") {
  flex-direction: row unquote($value);
}

@mixin bullseye($value: "") {
  align-items: center unquote($value);
  justify-content: center unquote($value);
  vertical-align: middle unquote($value);
}

@mixin first($value: "") {
  order: -1 unquote($value);
}

@mixin last($value: "") {
  order: 1 unquote($value);
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media(md) {
    margin-right: -#{d2($gutter)};
    margin-left: -#{d2($gutter)};
  }
}

.row + .row {
  margin-top: $gap;
}

.row.no-gutter {
  width: auto;
  margin-right: 0;
  margin-left: 0;

  .col,
  [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col,
[class^="col-"] {
  flex: 0 0 auto;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: d2($gutter);
  padding-left: d2($gutter);
}

.col-1 {
  flex-basis: 8.3333%;
  max-width: 8.3333%;
}

.col-2 {
  flex-basis: 16.6667%;
  max-width: 16.6667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333%;
  max-width: 33.3333%;
}

.col-5 {
  flex-basis: 41.6667%;
  max-width: 41.6667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333%;
  max-width: 58.3333%;
}

.col-8 {
  flex-basis: 66.6667%;
  max-width: 66.6667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
}

.col-11 {
  flex-basis: 91.6667%;
  max-width: 91.6667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.3333%;
}

.col-offset-2 {
  margin-left: 16.6667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.3333%;
}

.col-offset-5 {
  margin-left: 41.6667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.3333%;
}

.col-offset-8 {
  margin-left: 66.6667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.3333%;
}

.col-offset-11 {
  margin-left: 91.6667%;
}

@each $breakpoint, $size in $breakpoints {
  @include media($breakpoint) {
    .col-1-#{$breakpoint} {
      flex-basis: 8.3333%;
      max-width: 8.3333%;
    }
    .col-2-#{$breakpoint} {
      flex-basis: 16.6667%;
      max-width: 16.6667%;
    }
    .col-3-#{$breakpoint} {
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-4-#{$breakpoint} {
      flex-basis: 33.3333%;
      max-width: 33.3333%;
    }
    .col-5-#{$breakpoint} {
      flex-basis: 41.6667%;
      max-width: 41.6667%;
    }
    .col-6-#{$breakpoint} {
      flex-basis: 50%;
      max-width: 50%;
    }
    .col-7-#{$breakpoint} {
      flex-basis: 58.3333%;
      max-width: 58.3333%;
    }
    .col-8-#{$breakpoint} {
      flex-basis: 66.6667%;
      max-width: 66.6667%;
    }
    .col-9-#{$breakpoint} {
      flex-basis: 75%;
      max-width: 75%;
    }
    .col-10-#{$breakpoint} {
      flex-basis: 83.3333%;
      max-width: 83.3333%;
    }
    .col-11-#{$breakpoint} {
      flex-basis: 91.6667%;
      max-width: 91.6667%;
    }
    .col-12-#{$breakpoint} {
      flex-basis: 100%;
      max-width: 100%;
    }

    .col-offset-0-#{$breakpoint} {
      margin-left: 0;
    }
    .col-offset-1-#{$breakpoint} {
      margin-left: 8.3333%;
    }
    .col-offset-2-#{$breakpoint} {
      margin-left: 16.6667%;
    }
    .col-offset-3-#{$breakpoint} {
      margin-left: 25%;
    }
    .col-offset-4-#{$breakpoint} {
      margin-left: 33.3333%;
    }
    .col-offset-5-#{$breakpoint} {
      margin-left: 41.6667%;
    }
    .col-offset-6-#{$breakpoint} {
      margin-left: 50%;
    }
    .col-offset-7-#{$breakpoint} {
      margin-left: 58.3333%;
    }
    .col-offset-8-#{$breakpoint} {
      margin-left: 66.6667%;
    }
    .col-offset-9-#{$breakpoint} {
      margin-left: 75%;
    }
    .col-offset-10-#{$breakpoint} {
      margin-left: 83.3333%;
    }
    .col-offset-11-#{$breakpoint} {
      margin-left: 91.6667%;
    }
  }
}
